body {
  background: #fafafa;
  color: #969696;
  text-align: center;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

button {
  display: inline-block;
  box-sizing: border-box;
  width: 100px;
  padding: 5px;
  margin: 10px;
  text-decoration: none;
  cursor: pointer;
  outline: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  background: #c9c9c9;
  color: white;
  border: none;
}

button:hover {
  background: #969696;
}

ul {
  list-style: none;
  padding: 0;
}
